# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.cache

# Build results
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb
*.ilk
*.log
*.map
*.obj
*.pch
*.idb
*.ipdb
*.iobj

# NuGet Packages
packages/
*.nupkg
project.lock.json
project.assets.json
*.nuspec

# Publish
publish/
*.publishsettings

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/
*.sln.iml

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
